joint-state-publisher==2.4.0
osrf-pycommon==2.1.6
ros2multicast==0.18.12
tf2-tools==0.25.12
ros2launch==0.19.9
rqt-gui-py==1.1.7
ros2doctor==0.18.12
ros2test==0.4.0
tf2-ros-py==0.25.12
ros2bag==0.15.14
ros2service==0.18.12
rqt-plot==1.1.4
ros2param==0.18.12
examples-rclpy-minimal-action-server==0.15.3
launch-ros==0.19.9
domain-coordinator==0.10.0
ament-xmllint==0.12.12
rqt-action==2.0.1
ament-pep257==0.12.12
quality-of-service-demo-py==0.20.5
ament-cppcheck==0.12.12
ament-package==0.14.0
rosidl-runtime-py==0.9.3
ament-flake8==0.12.12
examples-rclpy-minimal-service==0.15.3
rpyutils==0.2.1
sensor-msgs-py==4.8.0
generate-parameter-library-py==0.4.0
topic-monitor==0.20.5
ament-copyright==0.12.12
ros2interface==0.18.12
examples-rclpy-minimal-subscriber==0.15.3
ros2node==0.18.12
ament-uncrustify==0.12.12
rqt-reconfigure==1.1.2
teleop-twist-keyboard==2.4.0
examples-rclpy-minimal-publisher==0.15.3
ament-clang-format==0.12.12
rqt-shell==1.0.2
ros2component==0.18.12
tf-transformations==1.1.0
sros2==0.10.6
nav2-simple-commander==1.0.0
ament-lint-cmake==0.12.12
ros2topic==0.18.12
launch-xml==1.0.8
ament-lint==0.12.12
ros2run==0.18.12
rosidl-cli==3.1.6
launch-testing==1.0.8
ros2action==0.18.12
launch==1.0.8
rqt-service-caller==1.0.5
rqt-topic==1.5.0
examples-rclpy-minimal-client==0.15.3
rqt-bag-plugins==1.1.5
rqt-publisher==1.5.0
rqt-gui==1.1.7
ament-cpplint==0.12.12
rqt-console==2.0.3
demo-nodes-py==0.20.5
examples-rclpy-executors==0.15.3
joint-state-publisher-gui==2.4.0
launch-testing-ros==0.19.9
rqt-graph==1.3.1
examples-rclpy-minimal-action-client==0.15.3
ament-index-python==1.4.0
launch-yaml==1.0.8
urdfdom-py==1.2.1
ros2controlcli==2.49.0
action-tutorials-py==0.20.5
rqt-srv==1.0.3
rqt-py-console==1.0.2
ros2pkg==0.18.12
ros2cli==0.18.12
ros2lifecycle==0.18.12
rqt-msg==1.2.0
rqt-bag==1.1.5
controller-manager==2.49.0
resource-retriever==3.1.3
logging-demo==0.20.5
dwb-msgs==1.1.18
action-tutorials-interfaces==0.20.5
rosidl-typesupport-c==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosgraph-msgs==1.2.1
std-msgs==4.8.0
rosbag2-py==0.15.14
cv-bridge==3.2.1
trajectory-msgs==4.8.0
nav-2d-msgs==1.1.18
rclpy==3.3.16
rosbag2-interfaces==0.15.14
xacro==2.0.13
scripts==3.9.0
angles==1.15.0
qt-gui==2.2.4
rosidl-generator-cpp==3.1.6
composition-interfaces==1.2.1
rosidl-generator-c==3.1.6
message-filters==4.3.6
builtin-interfaces==1.2.1
geometry-msgs==4.8.0
rcutils==5.1.6
rosidl-cmake==3.1.6
slam-toolbox==2.6.9
object-recognition-msgs==2.0.0
ackermann-msgs==2.0.2
theora-image-transport==2.5.3
unique-identifier-msgs==2.2.1
graph-msgs==0.2.0
rosidl-typesupport-cpp==2.0.2
rcl-interfaces==1.2.1
example-interfaces==0.9.3
interactive-markers==2.3.2
rosidl-typesupport-introspection-cpp==3.1.6
tf2-geometry-msgs==0.25.12
python-qt-binding==1.1.2
qt-dotgraph==2.2.4
nav-msgs==4.8.0
actionlib-msgs==4.8.0
pcl-msgs==1.0.0
tf2-py==0.25.12
rqt-py-common==1.1.7
rosidl-generator-py==0.14.4
tf2-msgs==0.25.12
std-srvs==4.8.0
rmw-dds-common==1.6.0
rosidl-typesupport-introspection-c==3.1.6
dynamixel-sdk==3.8.2
cartographer-ros-msgs==2.0.9002
qt-gui-py-common==2.2.4
diagnostic-msgs==4.8.0
shape-msgs==4.8.0
gazebo-msgs==3.9.0
tf2-kdl==0.25.12
rosidl-adapter==3.1.6
rosidl-typesupport-fastrtps-cpp==2.2.2
nav2-msgs==1.1.18
map-msgs==2.1.0
sensor-msgs==4.8.0
rosidl-parser==3.1.6
nav2-common==1.1.18
action-msgs==1.2.1
diagnostic-updater==4.0.2
ament-cmake-test==1.3.11
laser-geometry==2.4.0
smclib==4.1.2
turtlebot3-msgs==2.3.0
stereo-msgs==4.8.0
statistics-msgs==1.2.1
image-geometry==3.2.1
controller-manager-msgs==2.49.0
control-msgs==4.8.0
octomap-msgs==2.0.1
turtlesim==1.4.2
lifecycle-msgs==1.2.1
visualization-msgs==4.8.0
bond==4.1.2
qt-gui-cpp==2.2.4
moveit-msgs==2.2.1
pendulum-msgs==0.20.5
panda-gym==3.0.7
cmeel-boost==1.87.0.1
ipython==8.31.0
pybullet==3.2.7
cloudpickle==3.1.0
docker-pycreds==0.4.0
box2d-py==2.3.5
pycparser==2.22
Cython==3.0.11
matplotlib-inline==0.1.7
sympy==1.13.1
eigenpy==3.10.3
GitPython==3.1.44
typing_extensions==4.12.2
cycler==0.12.1
cmeel-console-bridge==1.0.2.3
contourpy==1.3.1
mujoco-python-viewer==0.1.4
keyboard==0.13.5
ptyprocess==0.7.0
casadi==3.7.0
jupyter_core==5.7.2
mujoco==3.3.0
stable_baselines3==2.4.1
nvidia-cusolver-cu12==11.6.1.9
networkx==3.4.2
regex==2024.11.6
grpcio==1.69.0
MarkupSafe==3.0.2
importlib_resources==6.5.2
python-dotenv==1.0.1
charset-normalizer==3.4.1
nvidia-cufft-cu12==11.2.1.3
cmeel==0.57.3
mpmath==1.3.0
pin==3.4.0
jedi==0.19.2
cffi==1.17.1
requests==2.32.3
wandb==0.19.9
nvidia-nvjitlink-cu12==12.4.127
markdown-it-py==3.0.0
pyparsing==3.2.1
debugpy==1.8.11
click==8.1.8
comm==0.2.2
idna==3.10
fasteners==0.19
fonttools==4.55.3
proglog==0.1.10
nest_asyncio==1.6.0
packaging==24.2
urllib3==2.4.0
tensorboard==2.18.0
wcwidth==0.2.13
six==1.17.0
Pygments==2.19.1
pydantic==2.11.3
importlib_metadata==8.5.0
smmap==5.0.2
pexpect==4.9.0
nvidia-cusparse-cu12==12.3.1.170
numpy==2.2.4
traitlets==5.14.3
imageio-ffmpeg==0.6.0
nvidia-nvtx-cu12==12.4.127
prompt_toolkit==3.0.48
tensorboard-data-server==0.7.2
ipykernel==6.29.5
annotated-types==0.7.0
pure_eval==0.2.3
pandas==2.2.3
nvidia-cuda-runtime-cu12==12.4.127
cmeel-qhull==8.0.2.1
wheel==0.44.0
jupyter_client==8.6.3
scipy==1.15.2
asttokens==3.0.0
rich==13.9.4
nvidia-nccl-cu12==2.21.5
exceptiongroup==1.2.2
setproctitle==1.3.5
PyOpenGL==3.1.7
tornado==6.4.2
mdurl==0.1.2
opencv-python==4.10.0.84
moviepy==2.1.2
Werkzeug==3.1.3
pyzmq==26.2.0
mujoco-py==2.1.2.14
transformers==4.51.3
kiwisolver==1.4.8
tzdata==2024.2
typing-inspection==0.4.0
cmeel-assimp==5.4.3.1
coal-library==3.0.1
Markdown==3.7
zipp==3.21.0
pillow==10.4.0
tqdm==4.67.1
pygame==2.6.1
nvidia-cuda-nvrtc-cu12==12.4.127
decorator==5.1.1
imageio==2.36.1
nvidia-cublas-cu12==12.4.5.8
tokenizers==0.21.1
cmeel-octomap==1.10.0
protobuf==5.29.3
gitdb==4.0.12
pip==24.2
stack_data==0.6.3
matplotlib==3.10.0
torch==2.5.1
Jinja2==3.1.5
cmeel-zlib==1.3.1
psutil==6.1.1
gymnasium==1.0.0
huggingface-hub==0.30.2
platformdirs==4.3.6
nvidia-cuda-cupti-cu12==12.4.127
Farama-Notifications==0.0.4
python-dateutil==2.9.0.post0
glfw==2.8.0
pydantic_core==2.33.1
cmeel-urdfdom==4.0.1
PyYAML==6.0.2
fsspec==2024.12.0
nvidia-curand-cu12==10.3.5.147
executing==2.1.0
etils==1.11.0
certifi==2025.1.31
nvidia-cudnn-cu12==9.1.0.70
absl-py==2.1.0
filelock==3.16.1
cmeel-tinyxml2==10.0.0
parso==0.8.4
pickleshare==0.7.5
setuptools==75.1.0
ale-py==0.10.1
sentry-sdk==2.26.1
safetensors==0.5.3
swig==4.3.0
pytz==2024.2
